<div class="container">
    <form [formGroup]="productForm" (ngSubmit)="postData()">
        <div class="row">
            <div class="col-lg-6">
                <label for="">Course</label>
                <input type="text" formControlName="course" class="form-control" [ngClass]="{'control-error':!productForm.get('course')?.valid && productForm.get('course')?.dirty}">
            </div>
            <div class="col-lg-6">
                <label for="">Level</label>
                <select class="form-control" formControlName="level">
                    <option>Beginner</option>
                    <option>Intermideate</option>
                    <option>Advanced</option>
                </select>
            </div> 
            <div class="col-lg-4">
                <label for="">Location</label>
                <input type="text" formControlName="location" class="form-control">
            </div>
            <div class="col-lg-4">
                <label for="">Start Date</label>
                <input type="date" formControlName="startDate" class="form-control" required>
            </div> 
            <div class="col-lg-4">
                <label for="">Fee</label>
                <input type="number" formControlName="fee" class="form-control">
            </div> 
            <div class="col-lg-6 mt-3">
                <input [disabled]="productForm.invalid" type="submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>